*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
  }





  .container{
    width: 80%;
    margin: auto;
    display: flex;
    padding: 20px;
}

.container >div{
    width: 33.33%;
}

.content{
    width: 50%;
    float: right;
    width: 50%;
    float: right;
    position: relative;
    left: -123px;
    font-family: sans-serif;
        font-size: 15px;
}

img.phoneIcone{
    width: 30px;
    height: 25px;
}

.midsContent {
    text-align: center;
}

.icecream{
    width: 135px;
}

.leftContent{
    margin-top: 20px;
}

.rightContent{
    text-align: right;
    margin-top: 20px;
}

.rightContent i{
    font-size: 15px;
    margin: 3px;
    padding: 5px;
}

 
 .section1 ul {
    list-style-type: none;
    margin-left: 10%;
    width: 80%;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,71,71, 1);
    border-radius: 10px;
    position: absolute;
    z-index: 99;
    text-align: center;
  }
  
  .section1 li {
    line-height: 17px;
    list-style-type: none;
    display: inline-block;
    position: relative;
    margin: 0;
    cursor: pointer;
  }
  
  .section1 li a {
    display: block;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    font-size: 17px;
    font-family: Assistant;
    color: #ffffff;
    font-weight: 600;
    padding: 35px 25px 20px;
    text-decoration: none;
    outline: none;
    transition: all .2s;
    cursor: pointer;
  }
  
  .section1 li a:hover:not(.active) {
    color: #282828;
  }
  
  .active {
    color: #282828;
  }

 .coloum{
    list-style-type: none;
    margin-left: 10%;
    width: 80%;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    z-index: 99;
    text-align: center;
    margin-top: 220px;
    
}
.container3{
    height: 250px;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}


.btn{
    padding: 20px 40px;
    border: 0;
    background: rgb(238, 69, 69);
    font-weight: bold;
    cursor: pointer;
    color: white;
    border-radius: 25px;
    margin-top: 60px; 
}

.btn:hover{
    background-color: rgba(0,0,0,0.8); 
    color: white;
}






















.sa_primid{
  
   margin-bottom: 125px;
    margin-left: 65px;
    margin-right: -7px;
}
 .sa_plan{
      color: rgb(65, 9, 77);
      text-align: center;
      font-size: 40px;
      font-family: "great-vibes"sans-serif;
      padding: 90px 0px 57px;

  }
  .sa_period{
    color: rgb(233, 223, 211);

  }

  .sa_desc{
   text-align: center;
   font-size: 20px;
   margin-bottom: 69px;

  }

  .sa_pricing{
      display: flex;
      width: 71%;
      margin-left: 188px;
      box-sizing: border-box;

  }

.sa_gif{

  border-radius: 543px;
  width: 109px;
  margin-left: 665px;
  margin-top: -43px;
  margin-bottom: 25px;
}
 
  .sa_weekly{
    background: linear-gradient(145deg,#b8156f 0,#8822a7 100%);
    text-align: center;
    margin: 20px;
     padding: 70px 50px;
    border-radius: 10px;
    width: 315px;
  }

  .sa_monthly{
    background: linear-gradient(145deg,#5c093c 0,#1d1280 100%);
    text-align: center;
    margin: 20px;
    padding: 70px 50px;
    border-radius: 10px;
    width: 315px;
  }

  .sa_trail{

   
    width: 200px;
    max-width: 100%;
    background: linear-gradient(145deg,#f05a28 0,#ec008c 100%);
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 35px;
  }

  .sa_yearly{
    background: linear-gradient(145deg,#a54120 0,#0b6b83 100%);
    text-align: center;
    margin: 20px;
    padding: 70px 50px;
    border-radius: 10px;
    width: 315px;
  }


.sa_money{
    font-size: 36px;
    padding-bottom: 32px;
    color: beige;
}

.sa_klam{

padding-left: 15px;
line-height: 2.4em;
font-family: "Roboto",Sans-serif;
text-align: left;

}

.sa_onlist{
    padding: 13px;
    color: rgb(233, 223, 211);
   
}















  .sa_section10{

    background-image: url(https://sktperfectdemo.com/themepack/icecream/wp-content/themes/skt-ele-icecream/images/footer-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: inherit;
    position: 0px 0px 0px;
    margin: 0px 0px 0px;
    
    
  }
  
  
    .sa_logo{
     padding: 70px 0px 40p;
     position: relative;
     margin: auto;
     left: 0PX; /* 3shan ageb l logo fl nos bs kda mesh mazbot*/
    
    }
  
    .sa_logo img
    {
      display: block;
      margin: auto;
      padding-top: 33px;
    } 
  
    .sa_middle{
  
     display: flex;
     margin-left: 200px;
     margin-top: 85px;
     width: 80%;
     padding: 35px 0px 40px;
     
    }
  
     .sa_address{
       
       background-color:#d43c3a;
       border-radius: 20px;
       width: 310px;
       height: 120px;
       text-align: center;
       padding: 0px 20px 25px;
       margin-right: 57px; /* 3mltha 3shan ab3d 3n links l social media*/
       margin-left: 45px;
       
     }
      .sa_follow{
        padding: 30px 20px 25px;
      }
  
     .sa_para{
      font-size: 17px;
      color: white;
      font-family: 'Times New Roman', Times, serif;
      padding: 30px 20px 25px;
     }
  
     .sa_sandy{
       position: center;
       text-align: center;
       font-weight: bold;
       color: white;
     }
      .sa_l{
    /* di linkat l social media w m3aha sewr l social media*/
    /*lessssaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa l hover 2li hwa lama a2f l lon bta3 l dayra yt8yr*/
     display: inline-block;
     height: 72px;
     width: 50px;
  }
  .sa_social{
  
    /*di sewr l social media*/
    display: flex;
    border-radius: 100%;
    max-block-size: 65%; /* 7gm logo l face w twitter w kda*/
  }
  
  
  .sa_contact{
  
    background-color: #4ca48f;
    border-radius: 20px;
    width: 310px;
    height: 120px;
    text-align: center;
    padding: 0px 20px 25px;
    margin-left: 40px;
    float: right;
  
   }
  .sa_menu{
  
    background-color: rgba(30, 11, 0, 0.6);
    padding: 30px 20px 20px;
    text-align: center;
    width: 80%;
    margin: auto;
    border-radius: 20px;
   
  }
  
  .sa_c{
  
     text-decoration: none;
     color:white;
     margin: 0px 20px 10px;
     font-size: 17px;
  }
  .sa_c:hover{
    color: aqua;
  }
  .sa_c:active{
    color: yellowgreen;
  }
    .sa_copytext{
      color: white;
      background-color: #1B0A00;
      padding: 35px 0 32px;
      text-align: center;
      font-size: 13px;
     
    }
  